// $primary: rgb(138, 44, 138);
$link-color: rgb(49, 49, 49);
$navbar-light-color: #fff;
$navbar-light-hover-color: #e0e0e0;
$navbar-light-active-color: #e0e0e0;


$badge-color: var(--bs-primary);
$badge-font-size: 0.86em;


$input-padding-y: 0.8rem;
// $vr-border-width: 1rem;


$body-bg-dark: #0d041f;
// $body-color-dark: red;
// $enable-caret: false;

@import '../node_modules/bootstrap/scss/bootstrap.scss'