{% extends 'base.html' %}

{% block content %}

{% include '_navbar.html' %}

<header class="blog-header d-flex justify-content-center align-items-center">
  <div class="text-center text-white">
    <h1 class="text-white display-4 fw-bold mb-4">{% block blog_header_title %}Bem vindo ao Blog{% endblock %}</h1>
    <a class="text-decoration-none link-light" href="{{ url_for('main.home') }}"
      >Home
    </a>
    <span class="mx-3">/</span>
    <a class="text-decoration-none link-light" href="{{ url_for('blog.blog') }}"
      >Blog
    </a>
  </div>
</header>

{% block blog_content %}{% endblock %}

{% endblock %}

{% block scripts %} 
{{ moment.include_moment() }}
{{ moment.locale(auto_detect=True) }}
{% endblock %}

